 
 @media only screen and (min-width: 1024px)         /*     LARGE SCREENS  BUT NOT TABLETS     */
{

.back_img{
    
    position: relative;
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 105vh;
    border-radius: 20px;
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    
    

}




.back
{
 
    position:relative;         
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%; /* Set the width to 100% */
    height: 100%; 
    border-radius: 10px;
    

}






.center_img
{
    
    position: absolute;
    top: 50%; /* Position at the vertical center of the viewport */
    left: 50%; /* Position at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the white section */
    width: 90%; /* Adjust the width as needed */
    height: 95%;
    background-color: rgba(255, 255, 255, 0.24); /* White background */
    border-radius: 50px;
    box-shadow:  0 0 30px rgba(0, 0, 0, 1);
 
}

.My_Photo
{
    display: none;
}

.nav_icon
{
    display: none;
}

.First_headings
{
    font-size: 30px;
    padding-top: 10%;
    padding-left: 6.8%;
}

.First_headings h2 {
    margin-bottom: 5px; /* Adjust the value as needed */
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.First_headings h1 {

    margin-bottom: 2%;   
    margin-top: 1%; /* Adjust the value as needed */
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    
}

.navigation_links
{
    display: flex;
    justify-content: center;
    padding-top: 1.5%;

 

}

 

.navigation_links a {
    text-decoration: none; /* Remove underline */
    color: black; /* Change color to black */
    margin: 0 10px; /* Increase spacing between links horizontally */
    padding: 0.5% 1%; /* Add padding to increase spacing vertically and horizontally */
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    transition: color 0.3s;

  

    
}

.mobile-nav
{
    display: none;
}
.hamburger
{
    display: none;
}






.small_paragraph
{
    padding-left: 8%;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin-bottom: 2%;
}



.coffee-button {
    background-color: #448bb4d7; /* 3D color */
    color: #000000c7;
    border-radius: 20px; /* Rounded corners */
    padding: 1.1%; /* Padding for button */
    border: none; /* Remove default button border */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 100%; /* Font size */
    font-weight: 70px;
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.2s ease; /* Smooth transition for background color */
    width: 120px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.479);
    
}

.coffee-button:hover {
    background-color: rgba(74, 165, 210, 1);
}

.coffee-button:active {
    background-color: rgba(106, 200, 255, 0.65); /* Lighter shade on click */
    box-shadow: 0 0 20px rgba(0, 0, 0, 3); /* Add box shadow on click */
    transition: box-shadow 0.5s ease-out;
}


.Buy_me_coffee
{
    padding-left: 12%;
    padding-top: 0.3%;
    
}




.social_media
{

    padding-top: 7%;
    padding-left: 6.5%;
    
}





.wrapper
{
    display: inline-flex;
    list-style: none;
    
    
}

.wrapper .icon{
    position: relative;
    background: #fff;
    border-radius: 50%;
    padding: 10%;
    margin: 10px;
    width: 6px;
    height: 6px;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 0.7rem;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 6%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}

.wrapper .icon:active {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Add box shadow on click */
    background-color: rgba(0, 0, 0, 0.1); /* Change background color on click */
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background: linear-gradient(to bottom, #1769FF, #0E3A7F);
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: linear-gradient(to bottom, #1DA1F2, #0F5B7F);
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: linear-gradient(to bottom, #ff781e, #e62639);
    color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: linear-gradient(to bottom, #0077B5, #004D7F);
    color: #fff;
}




/* THIS IS THE RIGHT SIDE IMAGE*/

.image-container {
    position: absolute;
    top: 0;
    right: 0;  
    width: 30%;  
    height: 70%;  
    padding-right: 10%;
    padding-top: 9.4%;
    opacity: 0.18;
    
    pointer-events: none;

    
}

.image-container img {
    width: 100%;  
    height: 100%;  
    object-fit: cover; 
    border-radius: 5%;  
    
}


 
/* YOOO THIS IS FOR THE HEADING (h2, h1) ANIMATIONS MAN */

.heading {
    opacity: 0; /* Start with the headings invisible */
    transform: translateY(20px); /* Shift the headings downwards initially */
    transition: opacity 1s, transform 1s; /* Apply smooth transition for opacity and transform */
    transition-delay: 1s;
}

/* Define the animation when the first heading becomes visible */
.heading.show-heading:first-child {
    transition-delay: 1.5s; /* Delay the animation for the first heading */
}

/* Define the animation when the headings become visible */
.heading.show-heading {
    opacity: 1; /* Make the heading visible */
    transform: translateY(0); /* Reset the transformation to its original position */
}






/* PARAGRAPH TRANSITION */


/* Apply initial styles to hide the paragraph text */
.small_paragraph .paragraph span {
    opacity: 0;
    animation: revealLetter 1s ease forwards;
}

/* Define animation for revealing each letter */
@keyframes revealLetter {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}





/* AND THIS IS FOR THE NAVIGATION LINKS HOVERING */

 
 

/* Define styles for when the cursor hovers over the links */
.navigation_links a:hover {
    color: rgb(9, 255, 0); /* Change the color to red when hovered */
}




}






































/* ----------------------RESPONSIVENESS ON SMALL PHONE SCREENS STARTS HERE---------------------------------  */







@media only screen and (max-width: 1023px)
{




}






































































/* ----------------------RESPONSIVENESS ON SMALL PHONE SCREENS STARTS HERE---------------------------------  */











@media only screen and (max-width: 767px)   /* IPHONE 8 PLUS SCREENS**/
{
    .back_img{
    
        position: relative;
        background-size: cover; /* Cover the entire container */
        background-repeat: no-repeat; /* Do not repeat the image */
        height: 200vh;
        border-radius: 20px;
        display: flex; /* Enable flexbox for centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    
        
        
    
    }
    
    
    
    
    .back
    {
     
        position:relative;         
        background-size: cover; /* Cover the entire container */
        background-repeat: no-repeat; /* Do not repeat the image */
        width: 100%; /* Set the width to 100% */
        height: 100%; 
        border-radius: 10px;
        
    
    }
    
    
    
    
    
    
    
    .center_img
    {
        
        position: absolute;
        top: 50%; /* Position at the vertical center of the viewport */
        left: 50%; /* Position at the horizontal center of the viewport */
        transform: translate(-50%, -50%); /* Center the white section */
        width: 90%; /* Adjust the width as needed */
        height: 95%;
        background-color: rgba(255, 255, 255, 0.24); /* White background */
        border-radius: 50px;
        box-shadow:  0 0 30px rgba(0, 0, 0, 1);
     
    }


    .nav_icon
    {
        padding-top: 13px;
        padding-left: 25px;
        display: flex;
        flex-direction: row;
        opacity: 0.7;

    }

    .nav_icon img
    {
        
        width: 80px;
       

    }
    

    .My_Photo
    {
        position: relative;
        z-index: 1;

        display: flex;
        justify-content: center;
        padding-top: 10%;
        border-radius: 20px;
        opacity: 0.18;

    }

    .My_Photo img
    {  
        object-fit: cover; 
        border-radius: 30%;

    }
    
    .First_headings
    {
        font-size: 40px;
        padding-top: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         
    }
    
    .First_headings h1, h2
    {
        font-size: 40px;
    }
    
    .First_headings h2 {
        margin-bottom: 5px; /* Adjust the value as needed */
        font-family: Arial, sans-serif;
        font-weight: 500;

        
        
    }
    
    .First_headings h1 {
    
        margin-bottom: 2%;   
        margin-top: 1%; /* Adjust the value as needed */
        font-family: 'Orbitron', sans-serif;
        font-size: 40px;
 
 
        
    }
    
    .navigation_links
    {
        
        display: none;
        justify-content: center;
        padding-top: 1.5%;
    
     
    
    }
    
     
    
    .navigation_links a {
        text-decoration: none; /* Remove underline */
        color: black; /* Change color to black */
        margin: 0 10px; /* Increase spacing between links horizontally */
        padding: 0.5% 1%; /* Add padding to increase spacing vertically and horizontally */
        font-family: 'Orbitron', sans-serif;
        font-size: 15px;
        transition: color 0.3s;
    
        font-size: 10px;
    
        
    }
    
    .mobile-nav
    {
        display: none;
    }
    .hamburger
    {
        display: none;
    }
    
    
    
    
    
    
    .small_paragraph
    {
        font-family: 'Caveat', cursive;
        font-size: 15px;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;

    }
    
    
    
    .coffee-button {
       
        color: #000000c7;
        border-radius: 20px; /* Rounded corners */
        padding: 1.1%; /* Padding for button */
        border: none; /* Remove default button border */
        font-family: 'Arial', sans-serif;
        cursor: pointer; /* Show pointer cursor on hover */
        transition: background-color 0.2s ease; /* Smooth transition for background color */
        width: 120px;
        display: inline-block;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.479);

        display: flex;
        padding-left: 8px;
        padding-top: 9px;
        font-size: 20px;
        font: normal;
        height: 60px;
        background: rgba(39, 135, 179, 0.308);
        
    }
    
    .coffee-button:hover {
        background-color: rgba(74, 165, 210, 1);
    }
    
    .coffee-button:active {
        background-color: rgba(106, 200, 255, 0.65); /* Lighter shade on click */
        box-shadow: 0 0 20px rgba(0, 0, 0, 3); /* Add box shadow on click */
        transition: box-shadow 0.5s ease-out;
    }
    
    
    .Buy_me_coffee
    {
        padding-top: 0.3%;
        display: flex;
        justify-content: center;
        display: none;
        
    }
    
    
    
    
    .social_media
    {
    
        padding-top: 3%;

        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        padding-left: 28%;
        display: none;

    }
    
    
    
    
    
    .wrapper
    {
        display: inline-flex;
        list-style: none;
        
        
    }
    
    .wrapper .icon{
        position: relative;
        background: #ffffff7e;
        border-radius: 50%;
        padding: 15%;
        margin: 10px;
        width: 1px;
        height: 1px;
        font-size: 1.1rem;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        
    }
    
    .wrapper .tooltip{
        position: absolute;
        top: 0;
        font-size: 0.7rem;
        background: #fff;
        color: #fff;
        padding: 5px 8px;
        border-radius: 6%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }
    
    .wrapper .icon:active {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Add box shadow on click */
        background-color: rgba(0, 0, 0, 0.1); /* Change background color on click */
    }
    
    .wrapper .icon:hover .tooltip{
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip{
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before{
        background: linear-gradient(to bottom, #1769FF, #0E3A7F);
        color: #fff;
    }
    
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
        background: linear-gradient(to bottom, #1DA1F2, #0F5B7F);
        color: #fff;
    }
    
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
        background: linear-gradient(to bottom, #ff781e, #e62639);
        color: #fff;
    }
    
    .wrapper .youtube:hover,
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover .tooltip::before {
        background: linear-gradient(to bottom, #0077B5, #004D7F);
        color: #fff;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* THIS IS THE RIGHT SIDE IMAGE*/
    
    .image-container {
        display: none;
        position: absolute;
        top: 0;
        right: 0;  
        width: 30%;  
        height: 70%;  
        padding-right: 10%;
        padding-top: 9.4%;
        opacity: 0.18;
        
        pointer-events: none;
    
        
    }
    
    .image-container img {
        width: 100%;  
        height: 100%;  
        object-fit: cover; 
        border-radius: 5%;  
        
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
     
    /* YOOO THIS IS FOR THE HEADING (h2, h1) ANIMATIONS MAN */
    
    .heading {
        opacity: 0; /* Start with the headings invisible */
        transform: translateY(20px); /* Shift the headings downwards initially */
        transition: opacity 1s, transform 1s; /* Apply smooth transition for opacity and transform */
        transition-delay: 1s;
    }
    
    /* Define the animation when the first heading becomes visible */
    .heading.show-heading:first-child {
        transition-delay: 1.5s; /* Delay the animation for the first heading */
    }
    
    /* Define the animation when the headings become visible */
    .heading.show-heading {
        opacity: 1; /* Make the heading visible */
        transform: translateY(0); /* Reset the transformation to its original position */
    }
    
    
    
    
    
    
    /* PARAGRAPH TRANSITION */
    
    
    /* Apply initial styles to hide the paragraph text */
    .small_paragraph .paragraph span {
        opacity: 0;
        animation: revealLetter 1s ease forwards;
    }
    
    /* Define animation for revealing each letter */
    @keyframes revealLetter {
        0% {
            opacity: 0;
            transform: translateX(-10px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    
    
    
    
    
    /* AND THIS IS FOR THE NAVIGATION LINKS HOVERING */
    
     
     
    
    /* Define styles for when the cursor hovers over the links */
    .navigation_links a:hover {
        color: rgb(9, 255, 0); /* Change the color to red when hovered */
    }


    .hamburger {
        
        position: absolute;
        z-index: 2;


        top: 15px;
        right: 30px;
        display: block;
        width: 50px;
        height: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }


    .hamburger .bar,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: rgb(165, 165, 165);
        margin: 6px 0px;
        transition: 0.4s;
    }

    
    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    
    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }
    
    .hamburger.is-active .bar {
        opacity: 0;
    }

    
 
    .mobile-nav {

        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 98;
        background-color: #20034e62;
        padding-top: 120px;
        transition: 0.4s;
    }
    
    .mobile-nav.is-active {
        left: 0;
    }
    
    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: #1f103F;
    
        color: #FFF;
        text-decoration: none;
    }
    
    .mobile-nav a:hover {
        
        background-color: #24104f;
    }



    .blur {
        filter: blur(50px); /* Adjust the blur radius as needed */
    }





    


 

}
