@media only screen and (min-width: 1024px)         /*     LARGE SCREENS  BUT NOT TABLETS     */
{

.mobile-nav
{
    display: none;
}

   
.back_img
{
    
    position: relative;
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 800vh;
    border-radius: 20px;
    width: 100%;
}

.background
{
    filter: blur(50px);
}



.center_img
{
    
    position: absolute;
    top: 50%; /* Position at the vertical center of the viewport */
    left: 50%; /* Position at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the white section */
    width: 95%; /* Adjust the width as needed */
    height: 100%;
    background-color: rgba(255, 255, 255, 0.089); /* White background */
    box-shadow:  0 0 30px rgba(0, 0, 0, 0.432);

    z-index: 1;
    
}



.navigation_links {
    display: flex;
    justify-content: center;
    padding-top: 1.5%;
}

.navigation_links a {
    text-decoration: none;
    color: black; /* Set default color to black */
    margin: 0 10px;
    padding: 0.5% 1%;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    position: relative;
}

.navigation_links a.active {
    color: rgb(6, 168, 0); /* Set active link color to green */
}

.navigation_links a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: rgb(6, 168, 0); /* Active link glowing line color */
    transform: scaleX(1);
}

.navigation_links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: blue; /* Non-active link glowing line color */
    transform: scaleX(0);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navigation_links a:hover::after {
    background-color: blue; /* Change glowing line color to blue on hover */
    transform: scaleX(0);
}

.navigation_links a:hover {
    color: rgb(0, 175, 161); /* Change color to green on hover */
}





.First_header
{
  display: flex;
  justify-content: center;
  margin-top: 220px;
  font-size: 170%;
  color: rgba(253, 255, 157, 0.486);

  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  
  
  
} 

.heading-text 
{
    margin: 0; /* Remove default margin */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Glowing effect */
    text-shadow: 0 0 10px rgba(58, 255, 179, 0.301); /* Shadow effect */
   
}


header
{
    margin-bottom: 200px;
}



.Second_header
{
    display: flex;
    justify-content: center;
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    margin-top: 30px;
    font-size: 15px;
}

.white-text {
    color: #000000c2; /* White color */
}

.yellow-text {
    color: rgb(0, 151, 50)/* Yellow color */
}



.First
{
    display: flex;
    width: 85%;
    height: 450px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding: 0;
    margin-top: 150px;
    box-shadow:  0 0 30px rgba(0, 0, 0, 0.233);

}


.container  /* CONTAINER CONTAINING EACH CARD */
{
    display: flex;
    flex-direction: row;
    width: 100%; /* Adjust this value to fit within your page layout */
       
}

.card {                     /* CARD ITSELF */
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    flex-grow: 0.4;
    margin-right: px;
    
}

.card-title {           /* CARD HEADING */
    margin-left: 15px;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.card-text {           /* PARAGRAPH IN CARD */
    font-size: 15px ;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {           /* THE IMAGE */
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 60px;
    border-style: solid;
    border-color: rgba(0, 0, 255, 0);
    border-radius: 5px;
    border-width: 1px;
}

.sec-button {               /* THE BUTTON */
    border-color: none;
    border-radius: 3px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    background-color: rgb(97, 97, 255);
    margin-top: 30px;
}

.sec-button:hover {
    cursor: pointer;
    border-color: none;
    border-radius: 3px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 53, 255);
}

.words_button {                         /* WORDS IN BUTTON */
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.vertical-line {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    height: 95%;
    margin-top: 0px;
    background: linear-gradient(to bottom, rgba(49, 49, 49, 0.404) 0%, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.486) 100%);
}


.Second
{

    width: 90%;
    height: 500px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0);
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 400px;

}

.Heading_and_paragraph
{
    margin-top: 0;
}

.Heading_and_paragraph h4
{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    margin-bottom: 100px;

}

.Heading_and_paragraph p
{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.Sliding_images1
{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin-top: 180px;
    margin-left: 20px;

}





.all2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.My_projects
{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    color: rgb(48, 48, 48);
    margin-top: 200px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.Third
{

    width: 1000px;
    height: 700px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.582);
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between; 
    flex-wrap: wrap;

}


.Divide
{
    border-style: solid;
    box-shadow: 0 0 30px rgb(25, 51, 0);
    border-color: rgb(173, 173, 173);
    border-width: 1px;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px
}

.all3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
   
}

.one, .two, .three, .four 
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    height: 250px;
    width: 48%;
 
}

.one, .two
{
    margin-bottom: 20px;
}

.one h5, h6
{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.one h5
{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 5px;
    margin-right: 30px;
}

.one h6
{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.one, .Whats_my
{
    margin-top: 5px;
    margin-right: 10px;
}

.one, .vision
{
    font-size: 30px;
    
}

.vision
{
    color: rgb(13, 110, 0);
}

.one, p
{
    font-size: 20px;
    margin-left: 10px;
}

.three, p
{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.underline1
{
    border-width: 0.5px;
    width: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.397);
    margin-top: 5px;
}

.certificates
{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    color: rgb(48, 48, 48);
    margin-top: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.line_below
{
    border-style: solid;
    border-color: rgb(0, 192, 80);
    border-width: 1px;
    width: 50%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 130px;
    transform: scaleX(0.2); /* Initially hide the line */
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.visible 
{
  transform: scaleX(1); /* Expand the line on hover */
}


.certificates_paragraph
{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;  

}

.certificates_library
{
    width: 1100px;
    height: 400px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.582);
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between; 
    flex-wrap: wrap;

}





}
