@media only screen and (min-width: 1024px)         /*     LARGE SCREENS  BUT NOT TABLETS     */
{

.mobile-nav
{
    display: none;
}

   
.back_img{
    
    position: relative;
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 500vh;
    border-radius: 20px;
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */


}




.back
{
 
    position:relative;         
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100%; /* Set the width to 100% */
    height: 100%; 
    border-radius: 10px;
    

}







.center_img
{
    
    position: absolute;
    top: 50%; /* Position at the vertical center of the viewport */
    left: 50%; /* Position at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the white section */
    width: 90%; /* Adjust the width as needed */
    height: 95%;
    background-color: rgba(255, 255, 255, 0.089); /* White background */
    border-radius: 50px;
    box-shadow:  0 0 30px rgba(0, 0, 0, 1);

 
}



.navigation_links
{
    display: flex;
    justify-content: center;
    padding-top: 1.5%;

 

}

 

.navigation_links a {
    text-decoration: none; /* Remove underline */
    color: black; /* Change color to black */
    margin: 0 10px; /* Increase spacing between links horizontally */
    padding: 0.5% 1%; /* Add padding to increase spacing vertically and horizontally */
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    transition: color 0.3s;
    position: relative;
    
}



.navigation_links a:hover {
    color: rgba(9, 255, 0, 0.637);
}


.navigation_links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust this value to control the distance of the line from the text */
    width: 100%;
    height: 2px; /* Line thickness */
    background-color: #333; /* Line color */
    transform: scaleX(0); /* Initially hide the line */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition for transform and background-color */
}

.navigation_links a:hover::after {
    transform: scaleX(1); /* Expand the line on hover */
    background-color: rgba(9, 255, 0, 0.637);
    box-shadow: rgba(9, 255, 0, 0.637);
}





.First_header
{
  display: flex;
  justify-content: center;
  margin-top: 280px;
  font-size: 200%;
  color: rgba(253, 255, 157, 0.486);

  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  
  
  
} 

.heading-text 
{
    margin: 0; /* Remove default margin */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Glowing effect */
    text-shadow: 0 0 10px rgba(58, 255, 179, 0.301); /* Shadow effect */
}




.Second_header
{
    display: flex;
    justify-content: center;
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    margin-top: 30px;
}

.white-text {
    color: #fff0d1ad; /* White color */
}

.yellow-text {
    color: rgba(119, 255, 164, 0.432)/* Yellow color */
}




.First
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.582);
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 200px;


}

.Second
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.582);
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 200px;


}

.Third
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    background-color: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.582);
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 200px;


}




}
